<?xml version="1.0"?>

<configuration>
  <system.web>
    <profile>
      <properties>
        <group name="AimUsers">
          <add name="FirstName" type="string"/>
          <add name="LastName" type="string"/>          
        </group>        
      </properties>
    </profile>    
  </system.web>

</configuration>
